#scheduleContainer {
  background-color: white;
  color:black;
  width: 70%;
  height: 100%;
  padding-top: 150px;
  margin-top: -100px;
}

#status {
  //display:none;
  display: none !important;
}

#scheduleStatus{
  display: none !important;

}

#vs{
  color: #70708e;
}
