@import url("navbarTop.css");
@import url("leagueRanking.css");
@import url("schedule.css");
@import url("map.css");
body {
  background-color: #c8c8d1; }

#accomodationContainer {
  width: 1000px;
  border-color: black;
  border-style: solid; }
